[submodule "ekinsadb-review"]
	path = ekinsadb-review
	url = https://github.com/nerzur/ekinsadb-review.git
[submodule "ekindb-review-front2"]
	path = ekindb-review-front2
	url = https://github.com/nerzur/ekindb-review-front2.git
